services:
  postgres:
    image: postgres:17-alpine
    container_name: backend-api-postgres
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345678
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  redis:
    image: redis:7-alpine
    container_name: backend-api-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
